/* $background-color: #fffdeb;
$size: 100px;


body {
  background-color: $background-color;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.main-div {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
}

.x-axis-moveable-1, .y-axis-moveable-1 {
  width: $size;
  height: $size;
}

.x-axis-moveable-1 {
  animation: moving-x-axis 22s linear infinite alternate;

}

.y-axis-moveable-1 {
  animation: moving-y-axis 3s linear infinite alternate;
  background-color: red;
}

@keyframes moving-x-axis {
  100% {
    transform: translateX( calc(100vw - #{$size}) );
  }
}

@keyframes moving-y-axis {
  100% {
    transform: translateY( calc(100vh - #{$size}) );
  }
} */